<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>

   
    
    
   
    <window>
        <name>GUI.AllProjectsSummary</name>
        <dimension>
            <width>1938</width>
            <height>1048</height>
        </dimension>
    </window>
    <window>
        <name>GUI.NewJFrame</name>
        <dimension>
            <width>612</width>
            <height>466</height>
        </dimension>
    </window>
<window><name>GUI.NewTask</name><dimension><width>1249</width><height>772</height></dimension></window><window><name>GUI.Main_Window</name><dimension><width>1910</width><height>991</height></dimension></window><window><Meno>GUI.Main_Window</Meno><dimension><width>1276</width><height>821</height></dimension></window></settings>